Flask
requests
python-dotenv
fpdf
psycopg2-binary
sqlalchemy
flask-sqlalchemy
Flask-Migrate
Flask-Mail
Flask-WTF
flask-cors
langdetect
flask-jwt-extended
matplotlib
plotly
numpy
vaderSentiment
werkzeug
python-dateutil
pytz
setuptools
wheel
